* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.website-header {
    background-color: #29465B; /* Dark background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Some padding around the content */
    display: flex; /* Use Flexbox to align items horizontally */
    align-items: center; /* Vertically center items */
}

.main-nav ul {
    list-style: none; /* Remove bullet points from list */
    display: flex; /* Display list items horizontally */
}

.main-nav ul li a {
    color: white; /* White link color */
    text-decoration: none; /* Remove underlines from links */
    padding: 10px 15px; /* Padding for the links to make them clickable */
    display: block; /* Make the whole padding area clickable */
}

.main-nav ul li a:hover {
    background-color: #4682B4; /* Change background on hover */
}

p {
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

#mark-form {
    display: flex;
    justify-content: center;
}

#temp-form {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

#staff-list {
    color: #333;
    padding: 10px 20px;
    text-align: center;
    list-style: none;
}

#buttons {
    display: flex;
    justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

footer {
    color: #888;
    text-align: center;
}